<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Storage Zilla"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="Danm@de Software"
    UpgradeCode="8C2E0CF6-FF7A-4D86-83A5-2A27D2D01E54">
    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine"
      Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Storage Zilla is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="AppIcon.ico" SourceFile="src\AzureFilesSync.Desktop\Assets\Branding\app.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="WixUILicenseRtf" Value="installer\StorageZilla.Msi\Eula.rtf" />
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Feature Id="ProductFeature" Title="Storage Zilla" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="StartMenuShortcutComponent" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Storage Zilla" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="StorageZillaProgramMenuDir" Name="Storage Zilla" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <Component Id="StartMenuShortcutComponent" Directory="StorageZillaProgramMenuDir" Guid="8E0A4166-0EA0-4D64-B7AB-177A45B0BFF7">
      <Shortcut
        Id="StartMenuShortcut"
        Name="Storage Zilla"
        Description="Storage Zilla by Danm@de Software"
        Target="[INSTALLFOLDER]AzureFilesSync.Desktop.exe"
        WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="StorageZillaProgramMenuDir" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\Danmade\StorageZilla" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
