name: Release MSIX Beta

on:
  push:
    branches:
      - beta

permissions:
  contents: write

jobs:
  release-beta:
    uses: ./.github/workflows/release-msix-common.yml
    with:
      channel: beta
      prerelease: true
    secrets: inherit
